*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../images/background.jpg') no-repeat center center /cover;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    z-index: -5;
}

.overlay {
    position: absolute;
    z-index: -4;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

.gradient-circle {
    background: conic-gradient(
        rgb(151, 255, 33) 0%,
        rgb(151, 255, 33) 40%,
        rgb(62, 114, 3) 40%,
        rgb(62, 114, 3) 60%,
        rgb(17, 29, 2) 60%,
        rgb(17, 29, 2) 100%
    );
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: rgb(4, 10, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotatePointer 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

@keyframes rotatePointer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@media(max-width: 500px) {
    .container {
        height: 200px;
        width: 200px;
    }

    .gradient-circle {
        height: 220px;
        width: 220px;
    }
    
    .pointer-container {
        top: -20px;
        left: 95px;
        width: 10px;
        height: 120px;
    }
    
    .pointer {
        height: 10px;
        width: 10px;
    }
}